@IMPORT url("../../messages/messages.css");

/* form style */
#loginForm {
	background: #333 url('h300.png') repeat-x;
	padding: 10px 15px;
	color: #eee;
	width: 450px;
	margin: auto;
	margin-top:200px;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#registerForm {
	background: #333 url('w300.png') repeat-y;
	padding: 5px 10px;
	color: #eee;
	width: 270px;
	margin: auto;
	margin-top:200px;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: auto;
}

/* nested fieldset */
#loginForm fieldset {
	border: 5px;
	margin: 3px;
	padding: 5px;
	background: #333333 url('logo-medium.png') no-repeat
		scroll 240px 40px;
}

#registerForm fieldset {
	border: 5px;
	margin: 10px;
	padding: 10px;
}

/* typography */
h3 {
	color: #eee;
	margin-top: 0px;
}

p {
	margin:3px;
	font-size: 11px;
}

/* input field */
#loginForm input {
	border: 1px solid #444;
	background-color: #666;
	padding: 2px;
	color: #ddd;
	font-size: 12px;
	/* CSS3 spicing */
	text-shadow: 1px 1px 1px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#registerForm input {
	border: 1px solid #444;
	background-color: #666;
	padding: 2px;
	color: #ddd;
	font-size: 12px;
	/* CSS3 spicing */
	text-shadow: 1px 1px 1px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.inputField {
	width: 220px;
	height: 20px;
}

input:focus {
	color: #fff;
	background-color: #777;
}

input:active {
	background-color: #888;
}

/* button */
button {
	outline: 2;
	border: 1px solid #666;
	width: 80px;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

button:HOVER{
	background-color: activecaption;
}

/* field label */
label {
	display: block;
	font-size: 11px;
	color: #ccc;
}

#savepassword label {
	display: block;
	float: left;
}

#savepassword input {
	margin: 0 5px;
}

#validationCode {
	padding-top:5px;
	padding-right: 5px;
	border:3px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}

a {
	font-size: 12px;
	font: bold;
	text-decoration: underline;
	color: silver;
	display: inline-block;
	cursor: pointer;
}

a:FOCUS{
	color: olive;
}

a:HOVER {
	color: olive;
}